SECTION#image-list {
	box-shadow: none;
}
SECTION#image-list .blockbody {
	background: none;
	border: none;
	padding: 0px;
	text-align: left;
}
.shm-image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(var(--thumb-width) + 42px));
  place-items: center;
}

@media (max-width: 600px) {
  .shm-image-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.shm-image-list .thumb {
	margin-bottom: 8px;
}

@media (max-width: 600px) {
  .shm-image-list img {
	width: 300px;
    height: auto;
  }
}
